* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main {
    max-width: 1170px;
    margin: 0 auto;
}

section {
    margin-bottom: 100px;
}

/* header section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav {
    width: 506px;
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #424247;
}

/* banner section */
.banner-image {
    height: 500px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 100px 0px;
}

.banner-content {
    width: 800px;
    height: 288px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    text-align: center;
}

.banner-title {
    color: #FFF;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

.banner-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.banner-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 16px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
}

.input-content {
    width: 200px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    border: none;
    padding: 16px 74px 16px 16px;
}

.menu-bar {
    display: none;
}

/* Popular tour section */

.popular-tour {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tour-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 550px;
    text-align: justify;
    margin-right: 50px;
}

.title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.content-list {
    padding: 0 15px;
}

.description {
    padding: 24px 0;
    text-align: justify;
}

.description .tour-content li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

/* Destination section */
.img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
}

.img-container img {
    width: 100%;
    height: 300px;
}

#img1 {
    grid-column: span 6;
}

#img2 {
    grid-column: span 6;
}

#img3 {
    grid-column: span 4;
}

#img4 {
    grid-column: span 5;
}

#img5 {
    grid-column: span 3;
}

#img6 {
    grid-column: span 6;
}

#img7 {
    grid-column: span 6;
}

/* Service Section */

.service, .text-container {
    width: 643px;
    height: 126px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
}

.service-content1,
.service-content2,
.flex-content1,
.flex-content2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.service-content2,
.flex-content1,
.flex-content2 {
    flex-direction: column;
    padding: 32px;
}

.service-content2 {
    margin: 0 auto;
    margin-top: 24px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.sub-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.flex-content1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}


.flex-content2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.flex-content1,
.flex-content2,
.service-content2 {
    width: 573px;
    height: 284px;
}

/* Video Section */

.video-section {
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.video-section div,
.newslatter div {
    width: 50%;
}

video, .newslatter-image img {
    width: 100%;
    border-radius: 16px;
}

/* Newslatter Section */
.newslatter {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.newslatter-text {
    padding: 40px;
    border: 1px solid #FF5400;
    border-radius: 16px;
}

form input {
    display: block;
    width: 100%;
    gap: 48px;
    padding: 16px 20px;
    margin: 16px 0;
    border-radius: 8px;
}

#btn-primary {
    margin-top: 24px;
}

footer{
    background: rgba(19, 19, 24, 0.05);
    padding: 110px 350px;
}

.footer-content{
    max-width: 1170px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
}



@media screen and (max-width: 600px) {

    header,
    main {
        max-width: 335px;
        margin: 0 auto;
    }

    section {
        margin-bottom: 24px;
    }

    /* Navbar */

    nav {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    /* Banner Section */

    .banner-content {
        display: flex;
        align-items: center;
        width: 300px;
        margin: 0 auto;
    }

    .banner-title {
        font-size: 22px;
    }

    .banner-input {
        flex-direction: column;
    }

    /* Popular Tour Section */
    .popular-tour {
        flex-direction: column;
    }

    .tour-content div {
        width: 100%;
    }

    .title {
        color: #131318;
        font-size: 40px;
        font-weight: 800;
    }

    .tour-img img {
        width: 335px;
    }

    /* Destination Section */

    .img-container {
        display: flex;
        flex-direction: column;
        m
    }

    /* Service Section */

    .service-content1 {
        flex-direction: column;
    }

    .service,
    .service-content2,
    .flex-content1,
    .flex-content2 {
        width: 100%;
        padding: 32px;
    }

    /* Video Section */

    .video-section {
        flex-direction: column;
    }

    .video-section div,
    .newslatter div {
        width: 100%
    }

    .newslatter {
        flex-direction: column;
    }

    /* Footer Section */
    .footer-content{
        max-width: 320px;
        margin: 0 auto;
    }
}